<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

<!-- 	<bean id="dataSource" -->
<!-- 		class="org.springframework.jdbc.datasource.DriverManagerDataSource"> -->
<!-- 		<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver"></property> -->
<!-- 		<property name="url" value="jdbc:oracle:thin:@10.13.0.33:1521:orcl"></property> -->
<!-- 		<property name="username" value="gramer"></property> -->
<!-- 		<property name="password" value="gramer2188"></property> -->
<!-- 	</bean> -->

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="org.hsqldb.jdbcDriver" />
		<property name="url" value="jdbc:hsqldb:file:testdb;shutdown=true" />
		<property name="username" value="SA" />
		<property name="password" value="" />
		<property name="initialSize" value="1" />
		<property name="maxActive" value="5" />
		<property name="poolPreparedStatements" value="true" />
		<property name="maxOpenPreparedStatements" value="10" />
	</bean>

	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource"></property>
	</bean>

	<bean id="addressJDBCRepository"
		class="com.ligs.address.module.AddressJDBCTemplateRepositoryImpl">
		<property name="template" ref="jdbcTemplate"></property>
	</bean>

	<bean id="addressRepository" class="com.ligs.address.module.AddressRepositoryImpl">
	</bean>

	<bean id="addressService" class="com.ligs.address.module.AddressServiceImpl">
		<property name="repository" ref="addressJDBCRepository"></property>
	</bean>

	<bean id="addressController" class="com.ligs.address.module.AddressController">
		<property name="service" ref="addressService"></property>
	</bean>

</beans>
